body{
    background-color: #ecf4f3;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}
#topDiv{
    margin-top: 0;
    background-color: #a3d2ca;
    padding-top: 100px;
    position: relative;

}
.topCloud{
    position: absolute;
    top: 25px;
    right: 300px;
}


.bottomCloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}
.hello{
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 5.62em;
    color: #faf3dd;
}
.a_programmer{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: #faf3dd;
}

#profile_picture{

    height: 200px;
    width: 200px;
}
.middle-container{

    padding: 0;
}
.skills{
    text-align: center;
    display: inline-block;
    
}
.skills_table{
    border-collapse: separate;
    border-spacing: 150px 10px;

}
.skillPicture{
    width: 200px;
    height: 200px;
    display: inline-block;
}


.skillInfo{
    display: inline-block;
    width: 18.75rem;
    text-align: left;
    height: 200px;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 25px 25px;
}

.profile{
    background-color: #197163;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #faf3dd;
}
.bottom-container{
    background-color: #197163;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #faf3dd;
    margin-bottom: 0b;
}
.contact-me{
    background-color: #197163;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #faf3dd;
}

.mountain{
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    top: 5px;
}

h1{
    font-family: 'Sansita Swashed', cursive;
}
h2{
    font-family: 'Sansita Swashed', cursive;
}
p{
    font-family: 'Noto Sans JP', sans-serif;
}
h3{
    font-family: 'Noto Sans JP', sans-serif;
}

.btn{
    display: inline-block;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    border: solid 0px;
    border-radius: 10px;
    background-color: #faf3dd;
    width: 8rem;
    height: 3rem;
    line-height: 3.125rem;

    transition-duration: 0.4s;
    cursor: pointer;

}

.btn:hover{
    background-color: #a3d2ca;
}

a{

    text-decoration: none;
    color: #197163;

}

#li{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #faf3dd;
    border-radius: 6px;
}
#fb{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #faf3dd;
    border-radius: 6px;
}
#gh{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #faf3dd;
    border-radius: 100%;
}