body{
    background-color: #ecf4f3;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}
#topDiv{
    margin-top: 0;
    background-color: #a3d2ca;
    padding-top: 100px;
    position: relative;

}
.topCloud{
    position: absolute;
    top: 25px;
    right: 300px;
}


.bottomCloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}
.hello{
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 5.62em;
    color: #faf3dd;
}
.a_programmer{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: #faf3dd;
}

#profile_picture{

    height: 200px;
    width: 200px;
}
.middle-container{

    padding: 0;
}
.skills{
    text-align: center;
    display: inline-block;
    
}
.skills_table{
    border-collapse: separate;
    border-spacing: 150px 10px;

}
.skillPicture{
    width: 200px;
    height: 200px;
    display: inline-block;
}


.skillInfo{
    display: inline-block;
    width: 18.75rem;
    text-align: left;
    height: 200px;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 25px 25px;
}

.profile{
    background-color: #197163;
    padding-top: 20px;
}

.mountain{
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    top: 5px;
}